#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BIN := $(notdir $(wildcard bin/*))
PYTHON := $(notdir $(wildcard src/*))

%:
	dh ${@} --parallel  --with python2

override_dh_auto_test: $(BIN:%=bin-%) $(PYTHON:%=python-%)

bin-%:
	$(info checking $* ...)
	@bash -n bin/$*
	-@checkbashisms -f bin/$*

python-%:
	$(info checking $* ...)
	python -O -m py_compile src/$*

override_dh_auto_build: apt-metalink.1

%.1:	man/%.sgml
	/usr/bin/docbook-to-man $< > man/$@

override_dh_auto_clean:
	rm -f src/apt-metalink.pyo man/apt-metalink.1
