#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BIN := $(notdir $(wildcard bin/*))
COMPLETIONS := $(notdir $(wildcard completions/*))
SRC := $(notdir $(wildcard src/*))
PY := $(shell which python2 || which python3)

%:
	dh ${@} --parallel

override_dh_auto_test: $(BIN:%=bin-%) $(COMPLETIONS:%=completions-%) $(SRC:%=src-%)

bin-%:
	$(info checking $* ...)
	@dash -n bin/$*
	-@checkbashisms -f bin/$*

completions-%:
	$(info checking $* ...)
	@bash -n completions/$*
	-@checkbashisms -f completions/$*

src-%:
	$(info checking $* ...)
	$(PY) -O -m py_compile src/$*

override_dh_auto_build: apt-metalink.1

%.1:	man/%.sgml
	/usr/bin/docbook-to-man $< > man/$@

override_dh_auto_clean:
	rm -f src/apt-metalink.pyo man/apt-metalink.1
